/* --------------
   Felles styling
   --------------- */

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #3d3d3d;
  background: rgb(61, 61, 61);
  background: linear-gradient(
    90deg,
    rgba(61, 61, 61, 1) 35%,
    rgba(236, 233, 225, 1) 65%
  );
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* ---------------
     Venstre kolonne
     --------------- */

.left-column {
  flex: 1;
  padding-right: 20px;
  padding-left: 20px;
  color: #ece9e1;
  background-color: #3d3d3d;
}

.left-column h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.left-column h2 {
  font-size: 24px;
  margin: 20px 0;
  border-bottom: 1px solid #ece9e1;
}

.left-column p {
  margin: 10px 0;
}

.left-column ul {
  list-style-type: none;
  padding: 0;
}

.left-column li {
  margin-bottom: 10px;
}

a:link {
  color: #ece9e1;
}

a:visited {
  color: #ece9e1;
}

a:hover {
  color: #ece9e1;
  font-weight: bold;
}

a:active {
  color: #ece9e1;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills span {
  background-color: #ece9e1;
  color: #3d3d3d;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 3px;
}

.awesome-div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.awesome-i {
  margin-right: 10px;
}

/* -------------
     Høyre kolonne
     ------------- */

.right-column {
  flex: 2;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ece9e1;
}

.right-column h2 {
  border-bottom: 1px solid #3d3d3d;
  font-size: 24px;
  margin: 0px 0;
}

.right-column h3 {
  border-bottom: 1px solid rgba(61, 61, 61, 0.1);
  font-size: 20px;
  margin: 0px 0;
}

.right-column h4 {
  font-size: 16px;
  margin: 10px 0;
}

.right-column p {
  margin: 10px 0;
}
